.gallery-background {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background-image: url(../images/galleryBackground.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;  
    z-index:-3 
}

.gallery-container {
    padding: 2rem;
    text-align: center;
    margin: auto;
}

.gallery-container-card {
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.gallery-container-card:hover{
    cursor: pointer;
}

.gallery-container-card-pic {
    width: 100%;
    height: 14rem;
    object-fit: cover;
}
