/*  Carousel */

.carousel {
  position: sticky;
}

.carouselPics {
  margin: auto;
  width: 100vw;
  height: 90vh;
  object-fit: cover;
  position: static;
}

.homeQuote-background {
  background-image: url("../images/homeQuoteBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.55;
  height: 100vh;
  width: 100%;
  z-index: -1;
  position: sticky;
  top:0;
}

.homeQuote {
  height: 100vh;
  background:sticky;
  font-size: 2rem;
  color: var(--black-text-color);
  margin: 0rem 0 0rem 0;
  /* background-color: rgba(0, 0, 0, 0.5); */
}

@media screen and (max-width: 768px) {
  .homeQuote {
      font-size: 1.4rem;
  }
}