/*  Carousel */

.carousel {
  position: sticky;
}

.carouselPics {
  margin: auto;
  width: 100vw;
  height: 90vh;
  object-fit: cover;
  position: static;
}

.homeQuote-background {
  background-image: url("../images/homeQuoteBackground.JPG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.55;
  /* -webkit-filter: grayscale(100%);
  filter: grayscale(100%); */
  height: 100vh;
  width: 100%;
  z-index: -1;
  position: sticky;
  top:0;
}

.homeQuote {
  height: 100vh;
  width: 100vw;
  background:sticky;
  font-size: 1.5rem;
  /* font-weight: bold; */
  color: var(--black-text-color);
  margin: 0rem 0 0rem 0;
}
