:root {
  --main-background-color: rgb(96, 114, 128);
  --main-text-color: rgb(219, 219, 219);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*  Header */

.header {
  background-color: var(--main-background-color);
  font-size: 1.3rem;
}

.header .logo {
  width: 7rem;
  margin: -1rem 0;
  padding: -1rem 0;
  transition: transform 0.5s;
}

.header .logo:hover {
  transform: scale(1.2);
}

.nav-link {
  color: var(--main-text-color) !important;
  font-style: italic;
}

.nav-link:hover {
  transition: transform 0.5s;
  transform: scale(1.2);
}

.nav-dropdown {
  background-color: var(--main-background-color) !important;
}

.nav-dropdown-item {
  color: var(--main-text-color) !important;
  text-decoration: none;
}

.nav-dropdown-item:hover {
  color: var(--main-background-color) !important;
}

/* Footer */

.footer {
  background-color: var(--main-background-color);
  color: var(--main-text-color);
}

.row-container {
  width: 100%;
}

.footer a {
  color: var(--main-text-color);
  text-decoration: none;
}

.footer-link:hover {
  color: var(--main-text-color) !important;
  transition: transform 0.5s;
  transform: scale(1.2);
  cursor: pointer;
}

.footer-link a:hover {
  color: var(--main-text-color) !important;
}
