.menu-background {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url(../images/menuBackground.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;  
    z-index:-3 
}

.menu-titles {
    text-align: center;
    margin-bottom: 3rem;
    text-decoration: underline;
}

.menu-container {
    text-align: center;
}

.dish {
    color: black;
    font-size: 1.2rem;
    text-align: left;
    margin: 0.5rem 0;
}

.price {
    text-align: end;
}
